Repository HumanBrainProject/hbp-validation-framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_apps_dev_image, build_apps_prod_image, build_api_dev_image

.gitlab-ci.yml:

stages:
  - build
  - test

run_cypress_tests:
  image: cypress/browsers:node12.14.1-chrome85-ff81
  stage: test
  script:
    - cd apps/validation_framework_v2
    # install dependencies
    - npm ci
    # start server and run Cypress tests
    - npm run e2e:ci
  tags:
    - docker-runner

build_apps_dev_image:
  stage: build
  only:
    refs:
      - development
  rules:
      - changes:
          - apps/**/*
  script:
    - docker build -f apps/deployment/Dockerfile.dev -t docker-registry.ebrains.eu/model-catalog/model-catalog-v2:dev ./apps
    - docker login -u $DOCKER_REGISTRY_USER -p $DOCKER_REGISTRY_SECRET docker-registry.ebrains.eu
    - docker push docker-registry.ebrains.eu/model-catalog/model-catalog-v2:dev
  tags:
    - shell-runner

build_apps_prod_image:
  stage: build
  only:
    refs:
      - master
  rules:
      - changes:
          - apps/**/*
  script:
    - docker build -f apps/deployment/Dockerfile.prod -t docker-registry.ebrains.eu/model-catalog/model-catalog-v2:prod ./apps
    - docker login -u $DOCKER_REGISTRY_USER -p $DOCKER_REGISTRY_SECRET docker-registry.ebrains.eu
    - docker push docker-registry.ebrains.eu/model-catalog/model-catalog-v2:prod
  tags:
    - shell-runner


build_api_dev_image:
  stage: build
  only:
    refs:
      - development
  rules:
      - changes:
          - validation_service_v2/**/*
  script:
    - docker build -f validation_service_v2/deployment/Dockerfile.dev -t docker-registry.ebrains.eu/hbp-model-validation/validation_service-v2:dev ./validation_service_v2
    - docker login -u $DOCKER_REGISTRY_USER -p $DOCKER_REGISTRY_SECRET docker-registry.ebrains.eu
    - docker push docker-registry.ebrains.eu/hbp-model-validation/validation_service-v2:dev
  tags:
    - shell-runner


  build_api_prod_image:
  stage: build
  only:
    refs:
      - master
  rules:
      - changes:
          - validation_service_v2/**/*
  script:
    - docker build -f validation_service_v2/deployment/Dockerfile.prod -t docker-registry.ebrains.eu/hbp-model-validation/validation_service-v2:prod ./validation_service_v2
    - docker login -u $DOCKER_REGISTRY_USER -p $DOCKER_REGISTRY_SECRET docker-registry.ebrains.eu
    - docker push docker-registry.ebrains.eu/hbp-model-validation/validation_service-v2:prod
  tags:
    - shell-runner

fix gitlab ci/cd syntax
  .gitlab-ci.yml
Due: none

trying to fix app build
  apps/validation_framework_v2/package-lock.json
Due: build_apps_dev_image, build_apps_prod_image

trying to fix app build
  apps/deployment/Dockerfile.dev
  apps/deployment/Dockerfile.prod
Due: build_apps_dev_image, build_apps_prod_image

partial fix for #311
  validation_service_v2/validation_service/queries.py
  validation_service_v2/validation_service/resources/models.py
Due: build_api_dev_image

pyxus fix
  validation_service_v2/deployment/Dockerfile.dev
  validation_service_v2/deployment/Dockerfile.prod
Due: build_api_dev_image

avoid problem with Harbor permissions
  .gitlab-ci.yml
  validation_service_v2/README.rst
Due: build_api_dev_image

Try to deal with validation error
  validation_service_v2/validation_service/data_models.py
Due: build_api_dev_image

re-theming... work in progress
  apps/validation_framework_v2/public/docs/static/img/General_logo_Landscape_White.svg
  apps/validation_framework_v2/public/docs/static/img/apple-touch-icon.png
  apps/validation_framework_v2/public/docs/static/img/ebrains_logo.svg
  apps/validation_framework_v2/public/docs/static/img/favicon-16x16.png
  apps/validation_framework_v2/public/docs/static/img/favicon-192x192.png
  apps/validation_framework_v2/public/docs/static/img/favicon-256x256.png
  apps/validation_framework_v2/public/docs/static/img/favicon-32x32.png
  apps/validation_framework_v2/public/favicon.png
  apps/validation_framework_v2/public/index.html
  apps/validation_framework_v2/public/logo192.png
  apps/validation_framework_v2/public/logo512.png
  apps/validation_framework_v2/src/App.css
  apps/validation_framework_v2/src/ConfigDisplaySimple.js
  apps/validation_framework_v2/src/Introduction.js
  apps/validation_framework_v2/src/ModelDetail.js
  apps/validation_framework_v2/src/ModelDetailHeader.js
  apps/validation_framework_v2/src/ModelResultOverview.js
  apps/validation_framework_v2/src/ResultDetail.js
  apps/validation_framework_v2/src/ResultGraphs.js
  apps/validation_framework_v2/src/ResultModelTestInfo.js
  apps/validation_framework_v2/src/TestDetail.js
  apps/validation_framework_v2/src/TestDetailContent.js
  apps/validation_framework_v2/src/TestDetailHeader.js
  apps/validation_framework_v2/src/TestResultOverview.js
  apps/validation_framework_v2/src/ThreeWaySwitch.js
  apps/validation_framework_v2/src/ValidationFramework.js
  apps/validation_framework_v2/src/theme.js
Due: build_apps_dev_image, build_apps_prod_image

subheader correction
  apps/validation_framework_v2/src/Introduction.js
Due: build_apps_dev_image, build_apps_prod_image

fix multicompare, change navbar (combine results, figures into validation), other fixes
  apps/validation_framework_v2/public/index.html
  apps/validation_framework_v2/public/manifest.json
  apps/validation_framework_v2/src/CompareMultiResults.js
  apps/validation_framework_v2/src/ConfigForm.js
  apps/validation_framework_v2/src/Introduction.js
  apps/validation_framework_v2/src/ModelDetail.js
  apps/validation_framework_v2/src/ResultGraphs.js
  apps/validation_framework_v2/src/SwitchMultiWay.js
  apps/validation_framework_v2/src/TestDetail.js
  apps/validation_framework_v2/src/theme.js
Due: build_apps_dev_image, build_apps_prod_image

Starting to work on live papers endpoints
  validation_service_v2/validation_service/data_models.py
  validation_service_v2/validation_service/examples.py
  validation_service_v2/validation_service/tests/test_data_models.py
  validation_service_v2/validation_service/tests/test_livepapers.py
Due: build_api_dev_image

Refactoring of token passing, to simplify the code
  validation_service_v2/validation_service/auth.py
  validation_service_v2/validation_service/data_models.py
  validation_service_v2/validation_service/db.py
  validation_service_v2/validation_service/resources/livepapers.py
  validation_service_v2/validation_service/resources/models.py
  validation_service_v2/validation_service/resources/results.py
  validation_service_v2/validation_service/resources/tests.py
Due: build_api_dev_image

Further refactoring of auth, clearer separation of "can view" and "can edit"
  validation_service_v2/validation_service/auth.py
  validation_service_v2/validation_service/db.py
  validation_service_v2/validation_service/resources/livepapers.py
  validation_service_v2/validation_service/resources/models.py
  validation_service_v2/validation_service/resources/results.py
  validation_service_v2/validation_service/resources/tests.py
Due: build_api_dev_image

fold the "is_admin" check into can_view_collab and can_edit_collab, to simplify code elsewhere
  validation_service_v2/validation_service/auth.py
  validation_service_v2/validation_service/db.py
  validation_service_v2/validation_service/resources/livepapers.py
  validation_service_v2/validation_service/resources/models.py
Due: build_api_dev_image

Encapsulate auth functions as methods of a User class, to allow simple caching of user, collab info
  validation_service_v2/validation_service/auth.py
  validation_service_v2/validation_service/data_models.py
  validation_service_v2/validation_service/db.py
  validation_service_v2/validation_service/resources/livepapers.py
  validation_service_v2/validation_service/resources/models.py
  validation_service_v2/validation_service/resources/results.py
  validation_service_v2/validation_service/resources/simulations.py
  validation_service_v2/validation_service/resources/tests.py
Due: build_api_dev_image

Theme changes; fix edit test data_location bug
  apps/validation_framework_v2/src/ModelDetailHeader.js
  apps/validation_framework_v2/src/ModelResultOverview.js
  apps/validation_framework_v2/src/ResultDetailHeader.js
  apps/validation_framework_v2/src/ResultModelTestInfo.js
  apps/validation_framework_v2/src/TestDetailHeader.js
  apps/validation_framework_v2/src/TestEditForm.js
  apps/validation_framework_v2/src/TestResultOverview.js
  apps/validation_framework_v2/src/theme.js
Due: build_apps_dev_image, build_apps_prod_image

update compare multi table appearance
  apps/validation_framework_v2/src/CompareMultiResults.js
Due: build_apps_dev_image, build_apps_prod_image

update auth process
  apps/validation_framework_v2/src/ValidationFramework.js
  apps/validation_framework_v2/src/auth.js
  apps/validation_framework_v2/src/index.js
Due: build_apps_dev_image, build_apps_prod_image

fix keycloak syntax
  apps/curation-dashboard/src/auth.js
  apps/validation_framework_v2/src/auth.js
Due: build_apps_dev_image, build_apps_prod_image

update keycloak packagE
  apps/curation-dashboard/package.json
  apps/curation-dashboard/src/auth.js
  apps/validation_framework_v2/package-lock.json
  apps/validation_framework_v2/package.json
  apps/validation_framework_v2/src/auth.js
Due: build_apps_dev_image, build_apps_prod_image

undo auth changes
  apps/curation-dashboard/package.json
  apps/validation_framework_v2/package-lock.json
  apps/validation_framework_v2/package.json
  apps/validation_framework_v2/src/ValidationFramework.js
  apps/validation_framework_v2/src/auth.js
  apps/validation_framework_v2/src/index.js
Due: build_apps_dev_image, build_apps_prod_image

add updated auth to vf app
  apps/validation_framework_v2/src/ValidationFramework.js
  apps/validation_framework_v2/src/auth.js
  apps/validation_framework_v2/src/index.js
Due: build_apps_dev_image, build_apps_prod_image

fix auth in vf app and curation dashboard
  apps/curation-dashboard/package.json
  apps/curation-dashboard/src/auth.js
  apps/validation_framework_v2/package-lock.json
  apps/validation_framework_v2/package.json
  apps/validation_framework_v2/src/index.js
Due: build_apps_dev_image, build_apps_prod_image

change theme; no auth
  apps/validation_framework_v2/src/auth.js
  apps/validation_framework_v2/src/index.js
Due: build_apps_dev_image, build_apps_prod_image

reflect github master changes
  apps/curation-dashboard/package.json
  apps/curation-dashboard/src/auth.js
  apps/validation_framework_v2/package-lock.json
  apps/validation_framework_v2/package.json
  apps/validation_framework_v2/src/auth.js
  apps/validation_framework_v2/src/index.js
Due: build_apps_dev_image, build_apps_prod_image

Handle problems with responsiveness of Collab API
  validation_service_v2/validation_service/auth.py
Due: build_api_dev_image

fix bugs introduced in refactoring
  validation_service_v2/validation_service/resources/tests.py
Due: build_api_dev_image

work on getting livepapers working
  validation_service_v2/validation_service/auth.py
  validation_service_v2/validation_service/data_models.py
  validation_service_v2/validation_service/db.py
  validation_service_v2/validation_service/queries.py
  validation_service_v2/validation_service/resources/livepapers.py
Due: build_api_dev_image

More work on live papers
  validation_service_v2/validation_service/data_models.py
  validation_service_v2/validation_service/db.py
  validation_service_v2/validation_service/resources/livepapers.py
  validation_service_v2/validation_service/tests/test_livepapers.py
Due: build_api_dev_image

Better test
  validation_service_v2/validation_service/data_models.py
  validation_service_v2/validation_service/tests/test_livepapers.py
Due: build_api_dev_image

Live papers POST and DELETE implemented, with tests
  validation_service_v2/validation_service/data_models.py
  validation_service_v2/validation_service/resources/livepapers.py
  validation_service_v2/validation_service/tests/fixtures.py
  validation_service_v2/validation_service/tests/test_livepapers.py
Due: build_api_dev_image

Live papers PUT implemented, with test
  validation_service_v2/validation_service/resources/livepapers.py
  validation_service_v2/validation_service/tests/test_livepapers.py
Due: build_api_dev_image

remove un-needed imports from test script
  validation_service_v2/validation_service/tests/test_livepapers.py
Due: build_api_dev_image

Add automatic configuration of KG space the first time it is used
  validation_service_v2/validation_service/resources/livepapers.py
Due: build_api_dev_image

fix caching issue: id & alias
  apps/validation_framework_v2/src/datastore.js
Due: build_apps_dev_image, build_apps_prod_image

Rename `is_collab_member()` to `can_edit_collab()`
  validation_service_v2/validation_service/auth.py
  validation_service_v2/validation_service/db.py
  validation_service_v2/validation_service/resources/livepapers.py
  validation_service_v2/validation_service/resources/models.py
  validation_service_v2/validation_service/resources/results.py
  validation_service_v2/validation_service/resources/tests.py
Due: build_api_dev_image

Further fixes for live paper resources
  validation_service_v2/validation_service/data_models.py
  validation_service_v2/validation_service/resources/livepapers.py
Due: build_api_dev_image
